{"algorithm": "bayes",
 "spec": {
    "maxCombo": 50,
    "objective": "minimize",
    "metric": "loss",
    "minSampleSize": 100,
    "retryLimit": 20,
    "retryAssignLimit": 1,
 },
 "parameters": {
     "inner_lr": {"type": "float", "min": 0.00001, "max": 1.0, "scalingType": "loguniform"},
     "meta_lr": {"type": "float", "min": 0.0000001, "max": 1.0, "scalingType": "loguniform"},
     "write_prob": {"type": "float", "min": 0.4, "max": 1.0},

     "max_age": {"type": "integer", "min": 5, "max": 100},
     "del_freq": {"type": "integer", "min": 10, "max": 10000},
 },
 "name": "cosmell hyperparam optimization",
 "trials": 1,
}