{"drill_default": {
    "learner": "drill",
    "batch_size": 8,
    "updates": 5
    },
 "drill_soinn": {
    "learner": "drill",
    "batch_size": 8,
    "updates": 5
    },
 "oml_default": {
    "learner": "oml",
    "batch_size": 8,
    "updates": 5
    },
 "oml_soinn": {
    "learner": "oml",
    "batch_size": 8,
    "updates": 5
    }
}

